################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Lec11/.vs/Lec11/FileContentIndex/7c92ff53-adfc-4dda-aace-c1b902fd1a0a.vsidx
/Lec11/.vs/Lec11/FileContentIndex/a1f50341-7b86-4c5f-9bba-61d332ea771a.vsidx
/Lec11/.vs/Lec11/FileContentIndex/b6b3cbb0-667b-41db-843d-b150c32f1235.vsidx
/Lec11/.vs/Lec11/FileContentIndex/dad797ef-0b44-4e08-a57f-4259e45b6477.vsidx
/Lec11/.vs/Lec11/FileContentIndex/b1373c25-b440-49c8-848c-3e8410d86366.vsidx
