
@{
    ViewBag.Title = "Chistes";
}


<div class="container">
    <h1>Los mejores chistes</h1>
    
    <div id="chiste-random-section">
        <h2>Chistes aleatorios</h2>
        <p id="chiste-random"></p>
        <button id="btnChisteRandom" class="btn btn-primary">Generar chiste aleatorio</button>
    </div>

    <div id="chiste-list-section">
        <h2>Chistes</h2>
        <ul id="chistes-list"></ul>
    </div>

    

</div>

<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/app.js"></script>

