
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container card">
    <h1 class="card-title">Los Datos más interesantes de todos</h1>

    <div id="dato-random-section">
        <h2>Datos aleatorios</h2>
        <p id="dato-random"></p>
        <button id="btnDatoRandom" class="btn btn-primary">Generar dato aleatorio</button>
    </div>

    <div id="dato-list-section">
        <h2>Datos</h2>
        <ul id="datos-list"></ul>
    </div>



</div>

<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/appDato.js"></script>

